body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: white;
}

.main {
    display: flex;
    width: 80vw;
    margin-left: 10vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-content: space-around;
}

.container {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    place-content: space-around;
    flex-grow: 1;
    flex-basis: 0;
}

a {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border-color: #008dd2;
    border: outset 10px #008dd2;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-decoration: none;
    color: #008dd2;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);
    max-width: 40vw;
    height: 20vh;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}
h2 {
    text-align: center;
}

#pdf {
    width: 100vw;
    height: 80vh;
}

.pdfButton {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.back {
    height: 10vh;
    width: 40vw;
    padding: 0;
    max-width: 300px;
}